@page "/post/{idPost:int}"
@layout UserLayout
@inject IDisplayPostViewModel viewModel

@if(viewModel.IsLoading)
{
	<div>Chargement de l'article...</div>
}
else
{
    @if(viewModel.Article == null)
    {
    	<h3>Oups</h3>
    
    <MudText Typo="Typo.body1">Aucun article trouvé à cette adresse.</MudText>
    
    <div class="d-flex justify-center">
    	<MudImage Src="images/nothing.jpg" 
    			Class="rounded-lg"
    			ObjectPosition="ObjectPosition.Center" />
    </div>
    }
    else
    {
    <div class="center-content post-title" style="background-image:url(@viewModel.Article.Image)">
        <h1>@viewModel.Article.Title</h1>
		<span>@viewModel.Article.UserId / @viewModel.Article.Posted.Value.ToString("D")</span>
    </div>
	
	<div class="post-content">
        <MudMarkdown Value="@viewModel.Article.Content" 
	        		CodeBlockTheme="CodeBlockTheme.AtomOneDark" />
    </div>
    }
}

@code {
    [Parameter]
    public int idPost { get; set; }

    protected async override Task OnInitializedAsync()
    {
		await viewModel.LoadPost(idPost);
    }
}
