@page "/post/{idPost:int}"
@layout UserLayout
@inject IDisplayPostViewModel viewModel

@if(viewModel.IsLoading)
{
	<div>Chargement de l'article...</div>
}
else
{
    <div class="center-content post-title" style="background-image:url(@viewModel.Article.Image)">
        <h1>@viewModel.Article.Title</h1>
		<span>@viewModel.Article.UserId / @viewModel.Article.Posted.Value.ToString("D")</span>
    </div>
	
	<div class="post-content">
        <MudMarkdown Value="@viewModel.Article.Content" 
	        		CodeBlockTheme="CodeBlockTheme.AtomOneDark" />
    </div>
}
@code {
	[Parameter]
    public int idPost { get; set; }
    
    protected override async void OnParametersSet()
    {
		await viewModel.LoadPost(idPost);
        base.OnParametersSet();
    }
}
