@page "/"
@page "/categorie/{IdCategorie:int}"
@inject IIndexViewModel ViewModel
@inject SettingsSvc SvcSettings

<Title Value="@SvcSettings.BlogName" />

@if(ViewModel.CategorieSelected != null)
{
    <h1><u>Catégorie</u>: @ViewModel.CategorieSelected.Nom</h1>
}

<MudStack Row="true" Justify="Justify.FlexStart" Class="flex-wrap">

    @foreach (Post post in ViewModel.PostsToDisplay)
    {
       <CardPost Image="@post.Image"
                Titre="@post.Title"
                User="@post.UserId"
                Date="@post.Posted.Value"
                OnClickPost="@(() => ViewModel.OpenPost(post.Id))" />
    }

</MudStack>

<div class="d-flex flex-column align-center">
    <MudPagination ShowFirstButton="true" 
                    ShowLastButton="true" 
                    Count="ViewModel.CounterPage"
                    SelectedChanged="ViewModel.PageChanged"
                    Class="mt-4"/>
</div>

@code{
    [Parameter]
    public int? IdCategorie { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await ViewModel.GetAllPosts(IdCategorie);
    }
}