@page "/"
@inject IIndexViewModel ViewModel

<PageTitle>Accueil</PageTitle>

<MudStack Row="true" Justify="Justify.FlexStart" Class="flex-wrap">

    @foreach (Post post in ViewModel.PostsToDisplay)
    {
       <CardPost Image="@post.Image"
                Titre="@post.Title"
                User="@post.UserId"
                Date="@post.Posted.Value"
                OnClickPost="@(() => ViewModel.OpenPost(post.Id))" />
    }

</MudStack>

<div class="d-flex flex-column align-center">
    <MudPagination ShowFirstButton="true" 
                    ShowLastButton="true" 
                    Count="ViewModel.CounterPage"
                    SelectedChanged="ViewModel.PageChanged"
                    Class="mt-4"/>
</div>

@code{

    protected async override Task OnInitializedAsync()
    {
        await ViewModel.GetAllPosts();
    }
}