@page "/newpost"
@attribute [Authorize(Roles = "Admin, Compositeur")]
@inject INewPostViewModel viewModel

<h3>Nouvel article</h3>

<div class="row">
	<div class="col-10">
<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Outlined="true">
    <MudTabPanel Text="Edition" Icon="@Icons.Filled.EditNote">
        <MudPaper Elevation="3">
			<div class="padding-10px">
				<EditForm EditContext="@viewModel.EditContextValidation">
					<DataAnnotationsValidator />
					
					<div>
						<div>
							<ValidationMessage For="@(() => viewModel.ValidationPost.Titre)" />
						</div>
						<MudTextField @bind-Value="viewModel.ValidationPost.Titre" 
									Label="Titre" 
									Variant="Variant.Outlined"></MudTextField>
					</div>
					
					<div>
						<MudTextField T="string" 
									Label="Article" 
									Variant="Variant.Outlined" 
									@bind-Text="viewModel.ValidationPost.Content"
									Lines="20" />
					</div>
				</EditForm>
			</div>
		</MudPaper>
    </MudTabPanel>

    <MudTabPanel Text="Preview" Icon="@Icons.Filled.RemoveRedEye">
		 <MudPaper Elevation="5">
			 <div class="padding-10px">
				<MudMarkdown Value="@viewModel.ValidationPost.Content" 
						CodeBlockTheme="CodeBlockTheme.AtomOneDark" />
			</div>
		</MudPaper>
    </MudTabPanel>
</MudTabs>
</div>

	<div class="col-2 background-super-light-gray">
		<MudStack>
			<br />
			<MudButton StartIcon="@Icons.Filled.Save" 
							Variant="Variant.Filled"
							Color="Color.Primary"
							OnClick="@viewModel.SavePost">Enregistrer</MudButton>

			<MudButton StartIcon="@Icons.Filled.Publish" 
					Size="Size.Small"
					Variant="Variant.Filled"
					Color="Color.Success"
					OnClick="@viewModel.PublishPost">Publier</MudButton>
					
			<MudImage Src="@viewModel.ImageEnAvant"
					  Alt="Définir l'image mis en avant"
							Elevation="25" 
							Fluid="true"
							ObjectFit="ObjectFit.Cover"
							Class="rounded-lg background-gray"
							@onclick="viewModel.OpenGalerie" />
		</MudStack>
	</div>
</div>