@page "/newpost"
@attribute [Authorize(Roles = "Admin, Compositeur")]
@inject INewPostViewModel viewModel

<h3>Nouvel article</h3>

<EditForm EditContext="@viewModel.EditContextValidation" Context="PourPost">
<DataAnnotationsValidator />
<div class="row">
	<div class="col-10">
<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Outlined="true">
    <MudTabPanel Text="Edition" Icon="@Icons.Filled.EditNote">
        <MudPaper Elevation="3">
			<div class="padding-10px">
					
					<div>
						<div>
							<ValidationMessage For="@(() => viewModel.ValidationPost.Titre)" />
						</div>
						<MudTextField @bind-Value="viewModel.ValidationPost.Titre" 
									Label="Titre" 
									Variant="Variant.Outlined"></MudTextField>
					</div>
					
					<div>
						<MarkdownEditor @bind-Content="viewModel.ValidationPost.Content" />
					</div>
			</div>
		</MudPaper>
    </MudTabPanel>

    <MudTabPanel Text="Preview" Icon="@Icons.Filled.RemoveRedEye">
		 <MudPaper Elevation="5">
			 <div class="padding-10px scroll">
				<MudMarkdown Value="@viewModel.ValidationPost.Content" 
						CodeBlockTheme="CodeBlockTheme.AtomOneDark" />
			</div>
		</MudPaper>
    </MudTabPanel>
</MudTabs>
</div>

	@*Menu sur le coté*@
	<MudPaper Elevation=5 Class="col-2">
		<MudStack>
			<br />
			<MudButton StartIcon="@Icons.Filled.Save" 
							Variant="Variant.Filled"
							Color="Color.Primary"
							OnClick="@viewModel.SavePost">Enregistrer</MudButton>

			<MudButton StartIcon="@Icons.Filled.Publish" 
					Size="Size.Small"
					Variant="Variant.Filled"
					Color="Color.Success"
					Disabled="@viewModel.PublishDisabled"
					OnClick="@viewModel.PublishPost">Publier</MudButton>
					
			<div>
				<ValidationMessage For="@(() => viewModel.ValidationPost.Image)" />
			</div>
			<MudImage Src="@viewModel.ImageEnAvant"
					  Alt="Définir l'image mis en avant"
							Elevation="25" 
							Fluid="true"
							ObjectFit="ObjectFit.Cover"
							Class="rounded-lg background-gray"
							@onclick="viewModel.OpenGalerie" />

			<hr class="separator" />
			
			<div><h5>Catégories : </h5></div>
				<div class="scroll" style="height:250px;">
				   @foreach (var category in viewModel.Categories)
					{
						<div>
							<input type="checkbox" id="categorie-@category.IdCategorie" @bind="@category.IsSelected" />
							<label for="categorie-@category.IdCategorie">@category.Nom</label>
						</div>						
					}
				</div>
				
				<EditForm EditContext="@viewModel.EditCtxCategorie" Context="PourCategorie">
				<DataAnnotationsValidator />
					
				<MudStack Spacing="2">
					<div>
					<ValidationMessage For="@(() => viewModel.ValidationCategorie.Nom)" />
					</div>
					<MudTextField @bind-Value="viewModel.ValidationCategorie.Nom" 
									Label="Nom de la nouvelle catégorie" 
									Variant="Variant.Outlined"></MudTextField>

					<MudButton OnClick="@viewModel.AjouterCategorie"
								Variant="Variant.Filled"
								Size="Size.Small"
								Color="Color.Primary">Ajouter la catégorie</MudButton>

				</MudStack>
				</EditForm>
			
		</MudStack>
	</MudPaper>
</div>
</EditForm>