@inherits LayoutComponentBase
@inject SettingsSvc settings

<PageTitle>@settings.BlogName</PageTitle>
<Link rel="icon" type="image/x-icon" href="@settings.BlogIcon" />

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <AuthorizeView Roles="Admin, Compositeur">
    <div class="sidebar">
        <NavMenu />
    </div>
    </AuthorizeView>

    <main>
        <div class="top-bar">
            <AuthorizeView Roles="Admin, Compositeur">
                <Authorized>
                    <LoginDisplay />
                </Authorized>
						
		        <NotAuthorized>
					<div class="titre-logo">
						<MudImage Height="60" Src="@settings.BlogImage" Class="rounded-lg" ObjectFit="ObjectFit.Fill" />
    					<div class="color-aliceblue">
                            <h2>@settings.BlogName</h2>
    						<small>@settings.BlogDescription</small>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
			<MudIconButton Icon="@Icons.Custom.Brands.GitHub"
						   Class="object-right"
						    Size="Size.Large"
                          Title="GitHub" 
                          Color="Color.Primary"
                          Href="https://github.com/AnthonyRyck/BlazorBlog" Target="_blank" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
