@inject SettingsSvc settings

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
		
        <a class="navbar-brand" href="">@settings.BlogName</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MudNavMenu Class="mud-width-full">
        <MudNavLink Href="" Icon="@Icons.Filled.Home">Accueil</MudNavLink>
        <MudNavLink Href="newpost" Icon="@Icons.Filled.PostAdd">Nouveau Post</MudNavLink>
        <MudNavGroup Title="Settings" Icon="@Icons.Filled.Settings">
            <MudNavLink Href="articles" Icon="@Icons.Filled.Article" IconColor="Color.Primary">Articles</MudNavLink>
            <MudNavLink Href="categories" Icon="@Icons.Filled.Category" IconColor="Color.Success">Catégories</MudNavLink>
            <MudNavLink Href="galeriesetting" Icon="@Icons.Filled.Image" IconColor="Color.Secondary">Images</MudNavLink>
            <MudNavLink Href="monprofil" Icon="@Icons.Filled.AccountCircle" IconColor="Color.Secondary">Profil</MudNavLink>

            <AuthorizeView Roles="Admin">
                <MudNavLink Href="settings" Icon="@Icons.Filled.Settings" IconColor="Color.Info">Paramètres</MudNavLink>
                <MudNavLink Href="importexport" Icon="@Icons.Filled.ImportExport" IconColor="Color.Info">Import/Export</MudNavLink>
            </AuthorizeView>
        </MudNavGroup>
    </MudNavMenu>
</div>

@code {
    
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}