@inject SettingsSvc settings

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
		
        <a class="navbar-brand" href="">@settings.BlogName</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>

            <NavLink class="nav-link" href="newpost" Match="NavLinkMatch.All">
                 <MudIcon Icon="@Icons.Filled.PostAdd" Title="PostAdd" />Nouveau Post
            </NavLink>
			<NavLink class="nav-link" href="articles" Match="NavLinkMatch.All">
                 <MudIcon Icon="@Icons.Filled.Article" Title="Articles" />Articles
            </NavLink>

			<AuthorizeView Roles="Admin">
			<NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
                 <MudIcon Icon="@Icons.Filled.Settings" Title="Articles" />Paramètres
            </NavLink>
		    </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
